
body
{
	background: #60B99F;
}

iframe
{
	border: solid 1px;
	height: 90vh;
	width: 100%;
}

.container
{
	background: white;
}

.col-3,
.col-4,
.col-5
{
	height: 90vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.categorias
{
	height: 90vh;
}


.accordion
{
	height: 90vh;
}

.card-header
{
	background: #c6c3ca;
	color: white;
}

.card-body
{
	margin: 0;
	padding: 0;
}

.esqueleto
{
	border: solid 1px; 
	height: 90vh;
}

.visualizador
{
	height: 90vh;
}