
body
{
	background: #60B99F;
}

iframe
{
	height: 90vh;
	width: 100%;
}

.container
{
	background: white;
}

.col-3
{
	height: 90vh;
	overflow:auto;
}

.categorias
{
	height: 90vh;
}


.accordion
{
	height: 90vh;
}

.card-header
{
	background: #c6c3ca;
	color: white;
}

.card-body
{
	margin: 0;
	padding: 0;
}

.esqueleto
{
	border: solid 1px; 
	height: 90vh;
}

.visualizador
{
	height: 90vh;
}